.content-wrap {
    padding-top: 0px;
    padding-bottom: 0px;
    opacity: 1;
}
.footer-wrap{
    background-color: #252525!important;
}
.main-img-wrap{
    overflow: hidden;
    width: 100.1%;
    height: 100.1%;
    z-index: 1;
    top: 0;
    left: 0;
}
.main-img-row{
    width: 100.1%;
    height: 400px;
}