
.clearfix{ *zoom:1 }
.clearfix:after{ display:block; clear:both; content:"" }

.my-site {
    background-color: white;
}
.my-site .header {
    background-color: #01579B;
    height: 70px;
}
.my-site .gnb {
    border-bottom: 1px solid #ddd;
}
.my-site .gnb > div {
    float: left;
    width: 100px;
    text-align: center;
    height: 30px;
    border-right: 1px solid #ddd;
}
.my-site .gnb > div.selected {
    background: #70acdc;
}
.my-site .main .lnb {
    float: left;
    width: 25%;
    background-color: #f3f3f3;
    height: 300px;
}
.my-site .main .article {
    float: left;
    width: 75%;
}
.my-site .footer {
    background-color: #f0f0f0;
    border-top: 1px solid #ddd;
    height: 40px;
}