<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>메인</title>
<!--    <link href="../static/css/positiondemo.css" th:href="@{/css/positiondemo.css}" rel="stylesheet" />-->
    <link href="../static/css/header.css" th:href="@{/css/header.css}" rel="stylesheet" />
</head>
<body>
<header class="header-301">
    <div class="section-301">
        <div class="menu-301">
            <div class="logo-301">
                <a href="/" title="301 Creativa Studio"></a>
                <div class="cta-menu no-view-301">
                    <svg class="svg-inline--fa fa-bars fa-w-14" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="bars" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" data-fa-i2svg="">
                        <path fill="currentColor" d="M16 132h416c8.837 0 16-7.163 16-16V76c0-8.837-7.163-16-16-16H16C7.163 60 0 67.163 0 76v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16z">
                        </path>
                    </svg>
                    <!-- <i class="fas fa-bars"></i> -->
                </div>
            </div>
            <div class="items-301">
                <div class="menu-content">
                    <div class="close-m-301 no-view-301">
                        <svg class="svg-inline--fa fa-times fa-w-11" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="times" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 352 512" data-fa-i2svg="">
                            <path fill="currentColor" d="M242.72 256l100.07-100.07c12.28-12.28 12.28-32.19 0-44.48l-22.24-22.24c-12.28-12.28-32.19-12.28-44.48 0L176 189.28 75.93 89.21c-12.28-12.28-32.19-12.28-44.48 0L9.21 111.45c-12.28 12.28-12.28 32.19 0 44.48L109.28 256 9.21 356.07c-12.28 12.28-12.28 32.19 0 44.48l22.24 22.24c12.28 12.28 32.2 12.28 44.48 0L176 322.72l100.07 100.07c12.28 12.28 32.2 12.28 44.48 0l22.24-22.24c12.28-12.28 12.28-32.19 0-44.48L242.72 256z">
                            </path>
                        </svg><!-- <i class="fas fa-times"></i> -->
                    </div>
                    <div class="menu-menu-principal-container">
                        <ul id="menu-menu-principal" class="menu">
                            <li id="menu-item-1951" class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-1951">
                                <a href="/" aria-current="page">Pilates</a>
                            </li>
                            <li id="menu-item-43" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-43">
                                <a href="/portafolio/">Portfolio</a>
                            </li>
                            <li id="menu-item-1950" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1950">
                                <a href="/servicios/">Services</a>
                            </li>
                            <li id="menu-item-42" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-42">
                                <a href="/blog/">Blog</a>
                            </li>
                            <li id="menu-item-4280" class="contacto-lnk-301 menu-item menu-item-type-custom menu-item-object-custom menu-item-4280">
                                <a sec:authorize="isAnonymous()" th:href="@{/user/login}">Sign in</a>
                            </li>
                            <li id="menu-item-1952" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1952">
                                <a sec:authorize="isAnonymous()" th:href="@{/user/signup}">Sign up</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

<!--<div class="my-site">-->
<!--    <div class="header"></div>-->
<!--    <div class="gnb clearfix">-->
<!--        <div><a sec:authorize="isAnonymous()" th:href="@{/user/login}">로그인</a></div>-->
<!--        <div class="selected"><a sec:authorize="isAuthenticated()" th:href="@{/user/logout}">로그아웃</a></div>-->
<!--        <div><a sec:authorize="isAnonymous()" th:href="@{/user/signup}">회원가입</a></div>-->
<!--    </div>-->
<!--    <div class="main clearfix">-->
<!--        <div class="lnb"></div>-->
<!--        <div class="article"></div>-->
<!--    </div>-->
<!--    <div class="footer"></div>-->
<!--</div>-->

<!--<h1>메인 페이지</h1>-->
<!--<hr>-->
<!--<a sec:authorize="isAnonymous()" th:href="@{/user/login}">로그인</a>-->
<!--<a sec:authorize="isAuthenticated()" th:href="@{/user/logout}">로그아웃</a>-->
<!--<a sec:authorize="isAnonymous()" th:href="@{/user/signup}">회원가입</a>-->
<!--<a sec:authorize="hasRole('ROLE_MEMBER')" th:href="@{/user/info}">내정보</a>-->
<!--<a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/admin}">어드민</a>-->
</body>
</html>